 {% extends 'base.html' %}
{% block content %}
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<div class="topnav">
  <a class="active">Enter your course</a>
  <div class="search-container">
    <form method="POST">
      <input type="text" placeholder="Search.." name="search_course">
      <button name="search_course" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
<div class="aligned_content">
  <div>
    {% if search %} 
      {% for prereq in prereqList %}
      <div>
        <input name="prereq" type="radio" value={{prereq._name}}>{{prereq._name}}</button>
      </div>
      {% endfor %}
    {% endif %}
  </div>
  {% if search %}
    <div class="table">
      <table>
        <tr>
          <th></th>
          <th>Trimester 1</th>
          <th>Trimester 2</th>
          <th>Trimester 3</th>
        </tr>
        <tr>
          <th>Year 1</th>
          <td><button name="Y1T1" type="button">Select</button></td>
          <td><button name="Y1T2" type="button">Select</button></td>
          <td><button name="Y1T3" type="button">Select</button></td>
        </tr>
         <tr>
          <th>Year 2</th>
          <td><button name="Y2T1" type="button">Select</button></td>
          <td><button name="Y2T2" type="button">Select</button></td>
          <td><button name="Y2T3" type="button">Select</button></td>
        </tr>
        <tr>
          <th>Year 3</th>
          <td><button name="Y3T1" type="button">Select</button></td>
          <td><button name="Y3T2" type="button">Select</button></td>
          <td><button name="Y3T3" type="button">Select</button></td>
        </tr>
      </table>
    </div>
  {% endif %}
</div>
{% endblock %}
