{% extends 'base.html' %}
{% block content %}

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<div class="topnav">
  <a class="active">Enter your course</a>
  <div class="search-container">
    <form method="POST">
      <input type="text" placeholder="Search.." name="search_course">
      <button name="search_course" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
{% if search %}
<form method="POST">
  <input type="hidden" name="search_course" value="{{course}}">
  <input type="hidden" name="clicked_table" value="True">
  <input type="hidden" name="prereqselected" value="{{prereqselected}}" <div class="aligned_content">
  <div>
    {% for prereq in prereqList %}
    <div>
      <button name="prereq" type="submit" value="{{prereq._name}}">{{prereq._name}}</button>
    </div>
    {% endfor %}
  </div>
  <div class="table">
    <table>
      <tr>
        <th></th>
        <th>Trimester 1</th>
        <th>Trimester 2</th>
        <th>Trimester 3</th>
      </tr>
      <tr>
        <th>Year 1</th>
        <td>{%if tt._grid[0][0] %}{%for course in tt._grid[0][0]%} {{course}} {%endfor%}{%endif%}
          {% if prereqselected._tri1 %}<button value="00" name="slot" type="submit">
        Select</button>{% endif %}</td>
        <td>{%if tt._grid[0][1] %}{%for course1 in tt._grid[0][1]%} {{course1}} {%endfor%}{%endif%}
          {% if prereqselected._tri2 %}<button value="01" name="slot" type="submit">
        Select</button>{% endif %}</td>
        <td>{%if tt._grid[0][2] %}{%for course in tt._grid[0][2]%} {{course}} {%endfor%}{%endif%}
          {% if prereqselected._tri3 %}<button value="02" name="slot" type="submit">
        Select</button>{% endif %}</td>
      </tr>
      <tr>
        <th>Year 2</th>
        <td>{%if tt._grid[1][0] %}{%for course in tt._grid[2][0]%} {{course}} {%endfor%}{%endif%}
          {% if prereqselected._tri1 %}<button value="10" name="slot" type="submit">
        Select</button>{% endif %}</td>
        <td>{%if tt._grid[1][1] %}{%for course in tt._grid[2][1]%} {{course}} {%endfor%}{%endif%}
          {% if prereqselected._tri2 %}<button value="11" name="slot" type="submit">
        Select</button>{% endif %}</td>
        <td>{%if tt._grid[1][2] %}{%for course in tt._grid[2][2]%} {{course}} {%endfor%}{%endif%}
          {% if prereqselected._tri3 %}<button value="12" name="slot" type="submit">
        Select</button>{% endif %}</td>
      </tr>
      <tr>
        <th>Year 3</th>
        <td>{%if tt._grid[2][0] %}{%for course in tt._grid[2][0]%} {{course}} {%endfor%}{%endif%}
          {% if prereqselected._tri1 %}<button value="20" name="slot" type="submit">
        Select</button>{% endif %}</td>
        <td>{%if tt._grid[2][1] %}{%for course in tt._grid[2][1]%} {{course}} {%endfor%}{%endif%}
          {% if prereqselected._tri2 %}<button value="21" name="slot" type="submit">
        Select</button>{% endif %}</td>
        <td>{%if tt._grid[2][2] %}{%for course in tt._grid[2][2]%} {{course}} {%endfor%}{%endif%}
          {% if prereqselected._tri3 %}<button value="22" name="slot" type="submit">
        Select</button>{% endif %}</td>
      </tr>
    </table>
  </div>
  </div>
</form>
{% endif %}
{% endblock %}
