 {% extends 'base.html' %}
{% block content %}
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<div class="topnav">
  <a class="active">Enter your course</a>
  <div class="search-container">
    <form method="POST">
      <input type="text" placeholder="Search.." name="search_course">
      <button name="search_course" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
{% if search %} 
<form method="POST">
  <input type="hidden" name="search_course" value="{{course}}">
  <div class="aligned_content">
    <div>
      {% for prereq in prereqList %}
      <div>
        <button name="prereq" type="submit" value="{{prereq._name}}">{{prereq._name}}</button>

      </div>
      {% endfor %}
    </div>
    <div class="table">
      <table>
        <tr>
          <th></th>
          <th>Trimester 1</th>
          <th>Trimester 2</th>
          <th>Trimester 3</th>
        </tr>
        <tr>
          <th>Year 1</th>
          <td><button value="01" name="slot" type="submit">Select</button></td>
          <td><button value="02" name="slot" type="submit">Select</button></td>
          <td><button value="03" name="slot" type="submit">Select</button></td>
        </tr>
        <tr>
          <th>Year 2</th>
          <td><button value="11" name="slot" type="submit">Select</button></td>
          <td><button value="12" name="slot" type="submit">Select</button></td>
          <td><button value="13" name="slot" type="submit">Select</button></td>
        </tr>
        <tr>
          <th>Year 3</th>
          <td><button value="21" name="slot" type="submit">Select</button></td>
          <td><button value="22" name="slot" type="submit">Select</button></td>
          <td><button value="23" name="slot" type="submit">Select</button></td>
        </tr>
      </table>
    </div>
  </div>
  {% if search %}
    <div class="table">
      <table>
        <tr>
          <th></th>
          <th>Trimester 1</th>
          <th>Trimester 2</th>
          <th>Trimester 3</th>
        </tr>
        <tr>
          <th>Year 1</th>
          <td><button name="Y1T1" type="button">Select</button></td>
          <td><button name="Y1T2" type="button">Select</button></td>
          <td><button name="Y1T3" type="button">Select</button></td>
        </tr>
         <tr>
          <th>Year 2</th>
          <td><button name="Y2T1" type="button">Select</button></td>
          <td><button name="Y2T2" type="button">Select</button></td>
          <td><button name="Y2T3" type="button">Select</button></td>
        </tr>
        <tr>
          <th>Year 3</th>
          <td><button name="Y3T1" type="button">Select</button></td>
          <td><button name="Y3T2" type="button">Select</button></td>
          <td><button name="Y3T3" type="button">Select</button></td>
        </tr>
      </table>
    </div>
  {% endif %}
</div>
{% endblock %}


